
#mega-menu-wrap-primary-category-menu #mega-menu-primary-category-menu > li.wpmenucartli {
    background-color: #d65050;
    padding: 0px 5px;
}


#mega-menu-wrap-primary-category-menu #mega-menu-primary-category-menu > li.mega-menu-item > a.mega-menu-link,
#mega-menu-wrap-primary-category-menu #mega-menu-primary-category-menu > li.wpmenucartli > a.wpmenucart-contents {
    line-height: 60px;
    height: 60px;
    text-transform: uppercase;
    padding: 0px 16px;
    color: #007056;
    font-size: 13px;
    font-weight: bold;
}

#yith-wacp-popup .yith-wacp-content a.button {
    background-color: #007056;
    color: #ffffff;
}

#mega-menu-wrap-primary-category-menu #mega-menu-primary-category-menu > li.wpmenucartli > a.wpmenucart-contents {
    color: #ffffff;
}

#mega-menu-wrap-primary-category-menu #mega-menu-primary-category-menu > li.mega-menu-item.mega-current-menu-item > a.mega-menu-link {
    font-weight: bold;
    font-size: 15px;
}

.middle-header {
    padding: 20px 0px;
    background-color: #fff;
}

.top-header ul.nav-top-header {
    list-style: none;
    padding-left: 15px;
    padding-right: 15px;
}

.top-header ul.nav-top-header li {
    float: left;
    margin: 4px 33px 0 0;
}

@media only screen and (max-width: 767px) {
    .top-header ul.nav-top-header li {
        float: none;
    }

    .top-header ul.nav-top-header li > a{
        display: block;
    }
}

#masthead {
    background-color: #fff;
}


.nav-top-header-container, .main-category-menu-container {
    background-color: #222222;
}

@media only screen and (max-width: 767px) {
    .header-wrap .nav-top-header-container {
        text-align: left;
        font-size: 13px;
    }
}

.main-category-menu-container > .main-category-menu-container-wrapper {
    padding-left: 0;
    padding-right: 0;
}

.nav-top-header-container ul li a {
    color: #c5c5c5;
}

.pr-0 {
    padding-right: 0px!important;
}

.single-product .entry-summary .compare {
    width: auto;
    height: auto;
    background-color: #d65050;
    border-radius: 3px;
    padding: 8px 24px;
}

/*Custom Search field*/


.product-search input[type="text"].product-search-field, .product-search input[type="text"].product-filter-field {
    border-style: none;
    border-bottom: 2px solid #007056d4;
    border-radius: 12px;
    outline: none;
}

.product-search input[type="text"].product-search-field::-webkit-input-placeholder,
.product-search input[type="text"].product-filter-field::-webkit-input-placeholder { /* Edge */
    color: #007056d4;
}

.product-search input[type="text"].product-search-field:-ms-input-placeholder,
.product-search input[type="text"].product-filter-field:-ms-input-placeholder{ /* Internet Explorer 10-11 */
    color: #007056d4;
}

.product-search input[type="text"].product-search-field::placeholder,
.product-search input[type="text"].product-filter-field::placeholder {
    color: #007056d4;
}

body {
    font-family: 'Roboto';
}

